---
import LogoutButton from "../components/LogoutButton.astro";
---

<script>
  import { API_URL } from "../consts";
  import { getCookie } from "../cookies";

  fetch(API_URL + "/user/" + getCookie("uuid"))
    .then((response) => {
      if (!response.ok) {
        document.getElementById("error").innerHTML =
          "Error: " + response.status + " " + response.statusText;
        return;
      }

      return response.json()
    })
    .then((data) => {
      document.getElementById("username").innerHTML = data.username;
    });
</script>

<html>
  <head>
    <title>Dashboard</title>
  </head>

  <body>
    <p id="error"></p>
    <h1>Dashboard</h1>
    <h2>Hello, <a id="username">Loading...</a></h2>
    <LogoutButton />
  </body>
</html>

<style>
  #error {
    color: red;
  }
</style>
