---
---

<script>
  import { API_URL } from "../consts";
  import { getCookie, setCookie } from "../cookies";

  fetch(`${API_URL}/user/verify`, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      token: getCookie("token"),
      uuid: getCookie("uuid"),
    }),
  })
    .then((res) => {
      if (res.status != 200) {
        window.location.href = "/login";
      }
    });

  document.getElementById("logout").addEventListener("click", () => {
    fetch(API_URL + "/user/invalidate_token", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        token: getCookie("token"),
        uuid: getCookie("uuid"),
      }),
    }).then((res) => {
      if (res.ok) {
        setCookie("token", "", 0);
        window.location.href = "/";
      }
    });
  });

  let page = 0;
  let amount = 10;

  fetch(API_URL + "/user/" + getCookie("uuid"), {
    method: "GET",
    headers: {
      "Content-Type": "application/json",
      "authorization": "Bearer " + getCookie("token"),
    },
  })
    .then((response) => {
      if (!response.ok) {
        document.getElementById("error").innerHTML =
          "Error: " + response.status + " " + response.statusText;
        return;
      }

      return response.json();
    })
    .then((data) => {
      document.getElementById("username").innerHTML = data.username;
    });

  fetch(API_URL + "/agents/" + page + "?amount=" + amount)
    .then((response) => {
      if (!response.ok) {
        document.getElementById("error").innerHTML =
          "Error: " + response.status + " " + response.statusText;
        return;
      }

      return response.json();
    })
    .then((data) => {
      console.log(data);
    });
</script>

<html>
  <head>
    <title>Dashboard</title>
  </head>

  <body>
    <p id="error"></p>
    <h1>Dashboard</h1>
    <h2>Hello, <a id="username">Loading...</a></h2>
    <button id="logout">Logout</button>
  </body>
</html>

<style>
  #error {
    color: red;
  }
</style>
