---

---

<script>
  import { getCookie, setCookie } from "../cookies.js";
  import { API_URL } from "../consts.js";

  let token = getCookie("token");

  let uuid = token.split("::")[0];

  const params = new URLSearchParams(window.location.search);
  const username = params.get("username");
  const password = params.get("password");

  let usernameInput = document.getElementById("username");
  let passwordInput = document.getElementById("password");

  if (username) {
    usernameInput.value = username;
  }

  if (password) {
    passwordInput.value = password;
  }

  window.onload = () => {
    if (username && password) {
      fetch(`${API_URL}/user/login`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          username: username,
          password: password,
        }),
      })
        .then((res) => {
          if (res.status != 200) {
            document.getElementById("error").innerHTML =
              "Username or password is incorrect";
            return;
          }

          return res.json();
        })
        .then((res) => {
          let expiryMS = res.auth_timeout * 1000;
          setCookie("token", res.auth_token);
          window.location.href = "/dashboard";
        });
      return;
    }

    if (token == "") {
      return;
    }

    fetch(`${API_URL}/user/verify`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "authorization": `Bearer ${token}`,
      },
    })
      .then((res) => res.json())
      .then((res) => {
        if (res.status == "success") {
          window.location.href = "/dashboard";
        }
      });
  };
</script>

<html>
  <body>
    <h1>Login</h1>

    <form action="/login" method="GET">
      <label for="text">Username</label>
      <input type="text" id="username" name="username" required />

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />

      <input type="submit" value="Login" />
    </form>
    <p id="error"></p>
  </body>
</html>

<style>
  #error {
    color: red;
  }
</style>
